<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="ApplicationName" value="DR.UkEuReferendum.DataProvider" />
      <add key="XmlPath" value="D:\inetpub\wwwroot\OV\DRUkEuReferendumDataProvider\status.xml"/>
      <add key="XmlUrl" value="http://proc02/ov/DRUkEuReferendumDataProvider/status.xml"/>
      <add key="Instructions" value="If multiple errors occur witin a minute between June 23rd and June 24th 2016, please call TSVN on 61 68 68 66" />
      
      <add key="FtpHost" value="ftp://ftp.dr.dk"/>
      <add key="FtpUserName" value="KAMB"/>
      <add key="FtpPassword" value="SYT%=Hrr=9n+QNh3"/>
      
      <!-- local ftp -->
      <!--<add key="FtpHost" value="ftp://localhost"/>
      <add key="FtpUserName" value="datafeeder"/>
      <add key="FtpPassword" value="abcdefg"/>-->

      <!-- Firebase -->
      <add key="FirebaseSecret" value="6NGb8oZpqtRZMsbtYBqGbTMoUMFuStfZFnWKKFGw" />
      <add key="FirebaseUrl" value="https://dr-interview.firebaseio.com/" />
      
      <!--<add key="FirebaseUrl" value="https://brexit-poll-tracker.firebaseio.com/"/>
      <add key="FirebaseSecret" value="L7Qx8LXBz1yG3SNgaifj1HTu1je2qFG4I7qLturQ"/>-->
      
      
    </appSettings>
</configuration>